@import "node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-dark-rgb: 14, 14, 26;
  --bs-success-rgb: 0, 128, 19;
  --bs-success: rgb(0, 128, 19);
  .btn-outline-success {
    --bs-btn-color: #008013;
    --bs-btn-border-color: #008013;
    --bs-btn-hover-bg: #008013;
    --bs-btn-hover-border-color: #008013;
    --bs-btn-active-bg: #00570d;
    --bs-btn-active-border-color: #00570d;
  }
  .btn-success {
    --bs-btn-bg: #008013;
    --bs-btn-border-color: #008013;
    --bs-btn-hover-bg: #00670f;
    --bs-btn-hover-border-color: #00670f;
    --bs-btn-active-bg: #00570d;
    --bs-btn-active-border-color: #00570d;
  }
  .btn-dark {
    --bs-btn-bg: rgb(14, 14, 26);
    --bs-btn-border-color: rgb(14, 14, 26);
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-active-bg: #212529;
  }
}


html,
body {
  font-family: "Assistant", sans-serif;

  h6 {
    font-size: 1.2rem;
  }

  .rover {
    height: 450px;
    width: 450px;
    object-fit: cover;
  }

  .card-text {
    &.center {
      text-align-last: center;
      text-align: -webkit-center;
    }

    &.height {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 30px;
    }
  }

  .md-img {
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 1.375rem;
  }

  .custom-bullets {
    ul {
      list-style-type: none; // Remove default bullets
      padding-left: 0;

      li {
        position: relative;
        padding-left: 1.5rem;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.5rem;
          width: 0.5rem;
          height: 0.5rem;
          border: 1.5px solid var(--bs-success); // Hollow circle
          border-radius: 50%;
        }
      }
    }
  }

  .link-success {
    .left-arrow {
      width: 60px;
      height: 22px;
      margin-bottom: 10px;
      transform: rotate(180deg);
      transition: 250ms all ease;
      fill: currentColor;
      path {
        height: 100%;
        transition: 250ms all ease;
      }
    }

    &:hover .left-arrow path {
      d: path("M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z");
      d: "M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z";
    }
  }

  .avatar {
    height: 175px;
    width: 175px;
  }

  blockquote {
    @extend .bg-light;
    @extend .border-success-subtle;
    font-size: inherit;
    padding: 1.08rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 0.25rem solid;
    p {
      margin-bottom: 0rem !important;
    }
  }

  .btn {
    font-size: 15px;
  }

  .card,
  .rounded {
    animation: fadeInUp 0.5s ease-in-out both;
  }

  #main-content a:not(.text-white):not(.btn-outline-success) {
    @extend .link-success;
    @extend .link-offset-1;
  }

  .accordion {
    @extend .accordion-flush;
    .accordion-button {
      box-shadow: none !important;
      @extend .border-success;
      &:not(.collapsed) {
        @extend .text-success;
        @extend .bg-success-subtle;
      }
    }
  }

  .dropdown-item {
    &:hover {
      @extend .bg-success-subtle;
    }
    &.active,
    &:active {
      @extend .bg-success;

      &:hover {
        @extend .bg-success;
      }
    }
  }

  .navbar {
    @extend .sticky-top;
    .container-fluid {
      @extend .container;
    }
    .collapse {
      @extend .justify-content-between;
    }
  }

  .share-btn {
    cursor: pointer;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
