@import "node_modules/bootstrap/scss/bootstrap";

html,
body {
  font-family: "Roboto", sans-serif;

  .card-text {
    &.center {
      text-align-last: center;
      text-align: -webkit-center;
    }

    &.height {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 30px;
    }
  }

  .md-img {
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 1.375rem;
  }

  #main-content a:not(.btn) {
    @extend .link-success;
  }

  .dropdown-item {
    &:hover {
      @extend .bg-success-subtle;
    }
    &.active,
    &:active {
      @extend .bg-success;
      
      &:hover {
        @extend .bg-success;
      }
    }
  }

  .navbar {
    .container-fluid {
      @extend .container;
    }
    .collapse {
      @extend .justify-content-between;
    }
  }
}
