@import "node_modules/bootstrap/scss/bootstrap";

html,
body {
  font-family: "myriad-pro", sans-serif;

  h6 {
    font-size: 1.2rem;
  }

  .card-text {
    &.center {
      text-align-last: center;
      text-align: -webkit-center;
    }

    &.height {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 30px;
    }
  }

  .md-img {
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 1.375rem;
  }

  #main-content a:not(.text-white) {
    @extend .link-success;
  }

  blockquote {
    @extend .bg-light;
    @extend .border-success-subtle;
    font-size: inherit;
    padding: 1.08rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 0.25rem solid;
    p {
      margin-bottom: 0rem !important;
    }
  }

  .btn {
    font-size: 15px;
  }

  .card,
  .rounded {
    animation: fadeInUp 0.5s ease-in-out both;
  }

  .dropdown-item {
    &:hover {
      @extend .bg-success-subtle;
    }
    &.active,
    &:active {
      @extend .bg-success;

      &:hover {
        @extend .bg-success;
      }
    }
  }

  .navbar {
    @extend .sticky-top;
    .container-fluid {
      @extend .container;
    }
    .collapse {
      @extend .justify-content-between;
    }
  }

  .share-btn {
    cursor: pointer;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
