@import "colors";

.article-item {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  margin-bottom: 20px;
  @include transition(.5s);
  &:hover{
		text-decoration: underline !important;
		color: $brand-primary !important;
	}


  border: 1px solid $article-outline;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 5px $article-outline;
}
.article-item img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
.article-item h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.article-item p {
  color: #666;
  margin-bottom: 0.5em;
}
.article-date {
  font-size: 0.85em;
  color: #999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  display: inline-block;
  border-radius: 15px;
  /* float: right; */
  /* background-color: #f0f0f0; */
  border: 1px solid $article-outline;
}
.article-main-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  color: #666;
}
.article-img {
  padding: 50px;
  height: 500px;
  width: 500px;
  float: right;
}
.article-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.article-title, .article-main-desc {
  padding-bottom: 10px;
}
.article-content {
  padding-top: 10px;
}
