<div>
  {{this.activeCount}}
  {{! template-lint-disable link-href-attributes }}
  <a title="Current viewers on the site"><i class="fas fa-eye"></i>
    <span class="tooltip">Current viewers on the site</span>
  </a>
</div>