<div class="container mt-4">
  <h2>{{@article.title}}</h2>
  <h6>{{@article.description}}</h6>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-4 g-4">
    {{#each @article.articlesList as |blog|}}
      <ArticleItem @article={{blog}} @transitionTo={{@article.transitionTo}} />
    {{/each}}
  </div>
</div>