<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-widget border">
          <p class="pull-left"><small>&copy; github.com/vickie-ks</small></p>
          <p class="pull-right">
            <small> 
              Designed by  <a href="https://github.com/vickie-ks" target="_blank" rel="noopener noreferrer">vickie-ks</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>