<div>
  <div class="d-flex justify-content-center align-items-center m-xl-5">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="p-2">
      Loading Information...
    </div>
  </div>
</div>