<h1 class="article-main-heading">Blog Articles</h1>
{{#if this.model.length}}
  <ul>
    {{#each this.model as |blog|}}
      <ArticleItem @article={{blog}} @transitionTo="blogs.blog" />
    {{/each}}
  </ul>
{{else}}
  <div class="empty-message">No articles are available right now.</div>
{{/if}}
