<div class="container mt-3 col-xxl-8">
  {{#if this.model}}
    {{! template-lint-disable no-curly-component-invocation }}
    <span class="md-content">
      {{markdown-to-html markdown=this.model}}
    </span>
  {{else}}
    <Loading />
  {{/if}}
</div>