<div class="container mt-4">
  <h2>Voyages in Fiction</h2>
  <h6>Immerse yourself in tales of intrigue and imagination.</h6>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-4 g-4">
    {{#each this.model as |echo|}}
      <ArticleItem @article={{echo}} @transitionTo="echoes.echo" />
    {{/each}}
  </div>
</div>
