<div class="container mt-4">
  <h2>My Projects</h2>
  <p class="lead">
    Collection of some of my projects.
  </p>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-4 g-4">
    {{#each this.model as |blog|}}
      <ArticleItem @article={{blog}} />
    {{/each}}
  </div>
</div>
