<div class="container mt-4">
  <h2>Curious Explorations</h2>
  <h5>Discover my musings on extraterrestrial life, and more.</h5>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-4 g-4">
    {{#each this.model as |quest|}}
      <ArticleItem @article={{quest}} @transitionTo="quests.quest" />
    {{/each}}
  </div>
</div>
