<main id="main">
  <div>
    <img src="images/avatar.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 animate-box">
      <h2>About Me</h2>

      <h3>Introduction</h3>
      <p>Hello! I'm Vigneshwar (Vickie) Sundararajan, a passionate web application developer and cybersecurity enthusiast based in Oviedo, FL. With over three years of professional experience at Zoho Corporation and currently pursuing a Master’s in Cybersecurity and Privacy at the University of Central Florida, I am dedicated to advancing in the field of cybersecurity.</p>

      <h3>Professional Summary</h3>
      <p>As a dynamic Web Application Developer, I have a proven track record of enhancing user engagement and implementing robust security features. My expertise lies in front-end design, security enhancements, and CI/CD processes. I have successfully reduced unauthorized access, decreased vulnerabilities, and boosted operational efficiency in my previous roles.</p>

      <h3>Professional Experience</h3>
      <h4>Software Developer, Zoho Corporation, India (Oct 2020 - Jul 2023)</h4>
      <ul>
        <li><p>Implemented SSO, 2FA, and RBAC for Manage Engine Endpoint Central, reducing unauthorized access by 50%.</p></li>
        <li><p>Crafted and launched the Manage Engine Endpoint Central Demo Page, decreasing vulnerabilities by 40%.</p></li>
        <li><p>Enhanced operational efficiency by 50% through CI/CD automation pipeline implementation.</p></li>
        <li><p>Improved product stability, resulting in a 70% reduction in future bugs.</p></li>
      </ul>

      <h4>Technical Internship, Zoho Corporation, India (Jun 2020 - Sep 2020)</h4>
      <ul>
        <li><p>Engineered an e-commerce platform with Ember JS, MongoDB, and Node JS, boosting performance by 20%.</p></li>
        <li><p>Enhanced web app security by 25% through expert application of various web technologies.</p></li>
        <li><p>Spearheaded a weekly internal bug bounty program, reducing issues by 80%.</p></li>
      </ul>

      <h3>Education</h3>
      <ul>
        <li><p>Pursuing Masters in Cybersecurity and Privacy at University of Central Florida (2023 - Present)</p></li>
        <li><p>Bachelor of Engineering in Computer Science, National Engineering College (2016 - 2020)</p></li>
      </ul>


      <h3>Skills and Expertise</h3>
      <ul>
        <li><p>Security: Cloud Security, Network Security, Application Security, Cryptography, Vulnerability Assessment, and more.</p></li>
        <li><p>Programming Languages: Python, Java, C++, Shell Scripting, Ember JS, Node JS.</p></li>
        <li><p>Databases: MySQL, MongoDB.</p></li>
        <li><p>Security Tools: Wireshark, Nessus, Splunk, Burp Suite, Metasploit.</p></li>
        <li><p>Operating Systems: Linux, Windows, Android, Mac.</p></li>
        <li><p>Networking: TCP/IP, DNS, Routing, Switching, Firewalls.</p></li>
      </ul>
      
      <h3>Projects</h3>
      <ul>
        <li><p>An Efficient Data Protection for Cloud Storage Through Encryption: Reduced data vulnerability by 70%.</p></li>
        <li><p>HTTPS Malware Traffic: A Network Analysis Approach: Identified malware communication patterns through log analysis.</p></li>
        <li><p>Secure Software Development Practices (Analysis Paper): Achieved a 15% decrease in security incidents.</p></li>
        <li><p>Fake Soft Drinks Detector (IoT Project): Published research achieving 90% accuracy in detecting expired soft drinks.</p></li>
      </ul>
      
      <h3>Personal Interests</h3>
      <p>Apart from my professional work, I am passionate about blogging on cybersecurity and exploring the digital shadows. I also enjoy working on personal projects, learning new technologies, and sharing my knowledge through my blog.</p>


      <h3>Contact Information</h3>
      <ul>
        <li><p>Email: vigneshrajan2022@gmail.com</p></li>
        <li><p>Phone: (+1) 386-456-8187</p></li>
        <li><p>LinkedIn: Vigneshwar Sundararajan</p></li>
        <li><p>GitHub: vickie-ks</p></li>
      </ul>
        
      <h3>Call to Action</h3>
      <p>Feel free to connect with me for potential opportunities, collaborations, or simply to follow my blog. Let's embark on this mystic voyage into the digital shadows together!</p>
    </div>
  </div>
</main>

