<body>
  {{!-- <div class="active-count">
    <ActiveUsers />
    <TotalVisitors />
  </div> --}}
  <TopNav />
  <div id="main-content" class="container mt-4">
    <div class="row mb-4">
      {{outlet}}
    </div>
  </div>
</body>