<div class="container text-center mt-5 text-muted">
  <div class="row justify-content-center">
    <div>
      <div class="my-5">
        <i class="fas fa-frown fa-5x mb-4"></i>
        <h1 class="display-1">404</h1>
        <p class="h4 mb-4 text-black-50">Page not found</p>
        <p>The Page you are looking for doesn't exist or another error occurred.</p>
        <p>Go back, or head over to
          <a
            href="https://vickie-ks.github.io/CipherVoyage/"
            class="text-primary"
          >CipherVoyage</a>
          to choose a new direction.</p>
      </div>
    </div>
  </div>
</div>